.container-hall {
   top: 0;
   z-index: 9999;
   position: fixed;
   
   height: 100%;
   padding: 5% 5%;
   background: rgba(0, 0, 0, 0.6);
}
.container-hall .hall {
   height: auto;
   max-height: 95%;
   padding: 20px;
   margin-left: 10%;
   border-radius: 20px;
   background: #202020;
   box-shadow: 0 0 25px rgba(0, 255, 0, 0.7);
}
.container-hall .hall .screen {
   width: 80%;
   height: 15px;
   opacity: 0.7;
   border-radius: 10px;

   background: white;
   box-shadow: 0 5px 25px rgba(255, 255, 255, 1);
}
.container-hall .close-collaps {
   width: 40px;
   height: 40px;
   border-radius: 100px;
   
   float: right;
   margin-top: -1%;
   margin-right: 10%;
}
.container-hall button {
   float: right;
   width: 50px;
   
   padding: 0;
   margin-right: 9%;
   margin-top: -0.5%;
   border-radius: 100px;
   box-shadow: 0 0 25px rgba(0, 255, 0, 0.7);
}
.container-hall button:hover {
   box-shadow: 0 0 25px rgba(255, 0, 0, 0.7);
}
.container-hall button span {
   font-size: 2.5em;
}

.places .row span {
   margin-top: 10px;
   margin-right: 10px;
   margin-left: -40px;
}
.places .row .btn-seat {
   border: none;
   outline: none;
   font-weight: 600;
   border-radius: 10px;
   background: #202020;
   box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
}
.places .row .btn-seat:hover {
   box-shadow: 0 0 5px rgba(255, 0, 0, 1);
}
.places .row .off {
   background: #181818;
   box-shadow: 0 0 10px rgb(200, 100, 0, 1);
}
.places .row .off:hover {
   box-shadow: 0 0 5px rgb(255, 100, 0, 1);
}

.places .form {
   margin-right: 41%;
}
.places .form-group .btn-success {
   height: 35px;
   min-width: 120px;
   font-weight: 600;
   margin-top: 10px;
   box-shadow: none;
}
.places .form-group .btn-success:hover {
   box-shadow: 0 0 15px rgba(0, 255, 0, 0.7);
}