hr {
    width: 80%;
    border: 0.6px solid ;
    margin: 5px auto;
}
h4 {
    color: #232934;
    text-align: left;
    font-weight: 600;
}

.form {
    width: 350px;
    height: 300px;
    font-weight: 600;
    margin: 150px auto;
    text-align: center;
    background: #e2e2e2;

    border: #727272 3px solid;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 10px 25px #000000;
}
.form h1 {
    font-weight: 600;
    padding-top: 40px;
    margin-bottom: 20px;
}
.form h5 {
    color: #ccc;
    font-weight: 600;
    padding-top: 50px;
}
.form h5 a {
    color: #ffff00;
    text-decoration: underline;
}
.form .fields input {
    padding: 10px;
    width: 300px;
    height: 40px;
    margin-top: 8px;
    border-radius: 5px;
    border: silver 2px solid;
}
.form .buttons input {
    color: white;
    width: 148px;
    height: 40px;
    font-size: 1.1em;
    margin-top: 15px;
    padding-top: 3px;
    border-radius: 5px;
    border: silver 2px solid;
}
.form .buttons .signIn {
    border: rgba(0, 128, 0, 0.6) 2px solid;
    background-color: rgba(81, 219, 81, 0.5);
}
.form .buttons .signUp {
    border: rgba(15, 53, 154, 0.29) 2px solid;
    background-color: #77b5f0;
}
