.row a {
   width:150px;
   font-weight:600;
   font-size: 0.9em;
   border-radius: 10px;
}

@media screen and (min-device-width: 576px) {
   .item {
      height: 200px;
   }
}
@media screen and (min-device-width: 768px) {
   .item {
      height: 225px;
   }
}
@media screen and (min-device-width: 1024px) {
   .item {
      height: 350px;
   }
}

.poster {
   width: 100%;
   height: 100%;
}
.poster img {
   padding: 0;
   margin-top: 1px;
   margin-left: 1px;
   border-radius: 20px;
   box-shadow: 0 0 20px rgba(125, 125, 0, 0.5);
}
.poster img:hover {
   padding: 0;
   border-radius: 20px;
   box-shadow: 0 0 15px rgba(0,225,0,0.8);
}

.poster .date {
   width: 60%;
   font-size: 1.2em;
   font-weight: 600;
   text-align: center;
   background: #202020;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   color: rgba(225, 215, 50, 0.9);
   text-shadow: 0 0 10px rgba(225, 215, 50, 0.9);
   position: relative;
   top: -25px;
}

.information .name {
   font-size: 1.5em;
}
.information .title, .information .text {
   font-size: 1.2em;
   font-weight: 600;
}