.label {
    padding: 1.2em 0.6em 0.3em;;
}
.photos {    
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(125, 125, 0, 0.5);
}
.photos:hover {
    box-shadow: 0 0 20px rgba(0,225,0,0.8);
}
.active, .carousel-control, .carousel-item img {
    border-radius: 20px;
}

.information {
    font-size: 1.3em; 
    font-weight: 600;
}
.information hr {
    margin: 3px auto;   
}

.description {
    line-height: 25px;
    padding: 50px 19%;
    text-indent: 2.5em;
    text-align: justify;
    
    background-image: linear-gradient(to bottom, #101010, #303030, #101010);
}

.shedul {
    margin: 0 12%;
}

.tickets {
    float: left;
    width: 100%;
}
.tickets .date {
    font-weight: 600;
}
.tickets .ticket {
    max-width: 90px;
    width: 80px;
    margin: 5px;
    height: 56px;
    padding: 5px 0;
    text-align: center;
    border-radius: 15px;
    
    background: #202020;
    box-shadow: 0 0 5px rgba(125, 125, 0, 0.5);

}
.tickets .ticket:hover {
    box-shadow: 0 0 8px rgba(0, 255, 0, 1);
}
.tickets .ticket hr {
    width: 80%;
    margin-left: 10%;
}

.trailer {
    float: left;
    height: auto;
    margin-left: 50px;
}
.trailer iframe {
    width: 90%;
    height: 90%;
    box-shadow: 0 0 15px rgba(125, 125, 0, 0.5);
}
.trailer iframe:hover {
    box-shadow: 0 0 10px rgba(0, 255, 0, 1);
}