#schema {
    min-height: 50px;
}

#schema .row {
    margin: 10px 0;
}

.row-label {
    line-height: 40px;
}

.btn-seat {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.off {
    background-color: #c1c1c1;
}

.reserved {
    background-color: #62698087;
}

.my-reserved {
    border-color: #337ab7;
}