.poster img {
    padding: 0;
    margin-top: 1px;
    margin-left: 1px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(125, 125, 0, 0.5);
}
.poster img:hover {
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,225,0,0.8);
}
.poster .image {
    margin: 0;
    padding: 0;
}
.poster .date {
    width: 50%;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    background: #202020;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: rgba(225, 215, 50, 0.9);
    text-shadow: 0 0 10px rgba(225, 215, 50, 0.9);

    position: relative;
    top: -93.1%;
}

.label {
    text-align: center;
    margin-top: 40px;
}
.label .information {
    margin: 10px 0;
}
.label .information hr {
    margin-left: 30%; 
    width: 40%;
}
.label .information .text {
    font-weight: 600;
}

.trailer {
    float: left;
    height: 68%;
}
.trailer iframe {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(125, 125, 0, 0.5);
}
.trailer iframe:hover {
    box-shadow: 0 0 10px rgba(0, 255, 0, 1);
}

.description {
    line-height: 25px;
    padding: 50px 19%;
    text-indent: 2.5em;
    text-align: justify;
    
    background-image: linear-gradient(to bottom, #101010, #303030, #101010);
}

.tickets {
    float: left;
}
.tickets .date {
    font-weight: 600;
}
.tickets .ticket {
    max-width: 90px;
    width: 80px;
    margin: 5px;
    height: 56px;
    padding: 5px 0;
    text-align: center;
    border-radius: 15px;
    
    background: #202020;
    box-shadow: 0 0 5px rgba(125, 125, 0, 0.5);

}
.tickets .ticket:hover {
    box-shadow: 0 0 8px rgba(0, 255, 0, 1);
}
.tickets .ticket hr {
    width: 80%;
    margin-left: 10%;
}

.information {
    font-size: 0.8em;
}
.information .name {
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    text-decoration: none;
}
.information .name a {
    color: #fff;
}