html, body {
    height: 100%;
    color: #fff;
    font-size: 1em;
    background: #303030;
}
img {
    width: 100%;
    height: 100%;

    max-width: 1000px;
    max-height: 600px;
}
hr {
    margin: auto;
    width: 90%;
    background: silver;
    border-color: silver;
}
h1 {
    text-align: center;
    font-weight: 600;
}
h4 {
    font-weight: 600;
}

.bg-dark {
    text-decoration: none;
    background-color: #202020 !important;
}
.bg-light {
    text-decoration: none;
    background-color: #101010 !important;
}
.nav-link {
    font-weight: 600;
    border-radius: 10px;
}

.login {
    width: auto;
    height: 36px;
    min-width: 100px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 225, 0, 1);
}
.login a {
    color: green;
}
.login:hover {
    height: 36px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 255, 0, 1);
}

.logout {
    width: auto;
    height: 36px;
    min-width: 100px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(225, 0, 0, 1);
}
.logout:hover {
    height: 36px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(255, 0, 0, 1);
}
.logout .btn {
    padding: 0;
    height: 20px;
    margin: 8px 14px 0 14px;
    font-weight: 600;
    text-decoration: none;
    color: rgba(255, 0, 0, 0.555);
}
.logout .btn:hover {
    color: rgba(255, 0, 0, 0.8);
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -91px;
    padding: 0 0 60px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
